* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*CABECERA*/
/*62.5%*/

.cabecera {
  border: 1px red solid;
  background-color: aqua;
  height: 55px;
  font-size: 18px;

}

.cabecera nav ul>h1 {
  font-size: 48px;
}

.cabecera>nav {
  border: 1px solid yellow;
  height: 100%;
  text-decoration: none;

}

.cabecera nav>ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid blue;
  height: 100%;
  margin: 0px 120px;
}

/*PRESENTACION*/
.presentacion {
  border: 1px solid green;
  position: relative;


}

.container_all {
  margin: 0px 50px;
}

.presentacion article picture>img {
  border: 2px solid red;
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.presentacion article>div {
  position: absolute;
  border: 1px solid;
  width: 60%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*QUE ES LA TECNOLOGIA*/

.tecnologia_es {
  margin: 30px 0px;
  border: 1px solid yellow;
  position: relative;

}

.tecnologia_es picture>img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.tecnologia_es>h2 {
  position: absolute;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tecnologia_es p {
  position: absolute;
  border: 1px solid white;
  align-items: center;
  width: 50%;
  top: 50%;
  right: 5%;
}

/*PARTES DEL COMPUTADOR*/

.partesComputador {
  border: 1px rgb(67, 41, 92) solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0px 0px 25px 0px;
  

}

.partesComputador>div {
  border: 1px solid purple;
  border-radius: 8px;
  height: auto;
}


.partesComputador div picture>img {
  width: 100%;
}

/*NOTICIAS*/

.tiulo_N{
  margin-bottom: 10px;
}

.noticias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px 0px 25px 0px;
  gap: 15px;
  
  border-radius: 8px;
  padding: 20px;
  box-shadow: inset 0px 0px 15px -10px rgba(0,0,0,0.93);
}

.noticias>div {

  border-radius: 8px;
  background-color:rgb(225, 243, 255);
  box-shadow: 0px 8px 18px -7px rgba(0,0,0,0.42);
  transition: all 200ms ease;
  
}

.noticias > div:hover{
  background-color:rgb(182, 226, 255);
}

.noticias div  > h3{
  margin-left: 15px ;
}

.noticias div  > h3,p{
  padding: 2px;
}
/*TUTORIALES BASICOS*/

.partesComputador {
  border: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0px 0px 25px 0px;
  gap: 17px;
  padding: 5px;
  
}

.partesComputador>div {
  overflow: hidden;
  border: none;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 200ms ease;
  transform: scale(1);
}

.partesComputador>div:hover{
  transform: scale(1.05) translateY(-10px);
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
  background-color: rgba(248, 252, 255, 0.548);
  
}



.partesComputador div picture>img {
  width: 100%;
}

.partesComputador div >  h3,p {
  padding: 5px;
}

/*TUTORIAL*/

.tutorial {
  border: 1px solid royalblue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 0px 25px 0px;
}

.tutorial>div {

  border: 1px solid purple;
  height: auto;

}

.tutorial div video {
  width: 100%;
}