* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

/*62.5%*/
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;

}

body {
  overflow-x: hidden;
}

/* MODULO BRAYAN CSS. */

/* BARRA DE NAVEGACION */
.cabecera {
  position: fixed;
  width: 100%;
  background-color: #2C84A4;
  color: aliceblue;
  height: 55px;
  z-index: 2;
}

h1 {
  color: aliceblue;
  font-size: 3.5rem;
}

.cabecera nav ul li {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
  position: relative;
}

.cabecera nav ul li::before {
  content: ' ';
  width: 0;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all 200ms ease;
  position: absolute;
}

.cabecera nav ul li:hover::before {
  width: 100%;
  left: 0%;
}

.cabecera nav ul li:hover {
  background-color: rgb(182, 226, 255, 0.20);
  border-radius: 5px;
}

.cabecera nav ul li>a {
  color: aliceblue;
  padding: 15px;
  font-size: 1.4em;
  cursor: pointer;
}

.cabecera>nav {
  height: 100%;
}

.cabecera nav>ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 0px 120px;
}

.cabecera-btn {
  opacity: 0;
  pointer-events: none;
  margin-top: 55px;
  position: fixed;
  z-index: 3;
}
.show--paralelo {
  opacity: 1;
  pointer-events: all;
}
.btn-tog {
  opacity: 0;
  pointer-events: none;
  height: 50px;
  width: 50px;
  background: transparent;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-left: 15px;
  position: fixed;
  z-index: 2;
}
.activate {
  transform: rotate(90deg);
}
.btn-tog span {
  font-size: 32px;
  position: absolute;
}
.activate span:first-child,
.btn-tog span:last-child {
  opacity: 0;
}

.activate span:last-child {
  opacity: 1;
} 
.detector {
  opacity: 0;
  pointer-events: none;
}

.show--paralelo .detector {
  opacity: 1;
  pointer-events: all;
  position: fixed;
  background-color: #444444bd;
  width: 100vmax;

}
.tog-paralelo {
  opacity: 0;
  pointer-events: none;
  margin-top: 18px;
  width: 300px;
  height: 100vh;
  background-color: #2C84A4;
  border: solid #2C84A4;
}

.show--paralelo .tog-paralelo {
  transition: all 400ms ease;
  opacity: 1;
  pointer-events: all;
}
.tog-paralelo li {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
}

.tog-paralelo li:hover {
  background-color: #1a6197;
}
.tog-paralelo a {
  font-size: 32px;
  color: #f5f5f5;
}

/* SECCION SOBRE NOSOTROS. */
.sobreNos_principal {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.sobreNos_titulo {
  display: flex;
  justify-content: center;
  color: #2c84a4;
  font-weight: 800;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.sobreNos_principal figure {
  background-image: url("./assets/aboutUs.jpg");
  background-position: 1%;
  background-size: cover;
  width: 100%;
  height: 20rem;
}


.sobreNos_principal p {
  margin-top: 3rem;
  text-align: center;
}

/* VENTANA MODAL DEL INICIO DE SESION */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .6s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
  z-index: 3;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .5s .5s;
}

.modal__container {
  margin: auto;
  width: 90%;
  max-width: 320;
  max-height: 90%;
  background: #ececec;
  border-radius: 6px;
  padding: 2em 1.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  transform: var(--transform);
  transition: var(--transition);
  width: 320px;
  height: 400px;
  color: #353535;
  box-sizing: border-box;
}

.modal__container h1 {
  font-size: 2.5rem;
}


.modal__close {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: black;
  transition: background-color .3s;
}

.modal__close:hover {
  color: #2C84A4;
}

.modal__container h1 {
  margin: 0 0 20px 0;
  color: #2C84A4;
  border-radius: 5px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  height: 30px;
  width: 90%;

}

.modal__container label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;

}

.modal__container input {
  width: 100%;
  margin-bottom: 20px;

}

.modal__container input[type="text"],
.modal__container input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  color: #2c2c2c;
  font-size: 16px;
}


.modal__container a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.modal__container a:hover {
  color: #000000;
}

.modal__container button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background-color: #2C84A4;
  color: white;
  cursor: pointer;
  outline: none;
}

/* VENTANA MODAL DEL REGISTRO */

.modalRes {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .6s;

--transform: translateY(-100vh);
--transition: transform .8s;
z-index: 3;

}

.modal--showRes {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .5s .5s;
}

.modal__containerRes {
  margin: auto;
  width: 90%;
  max-width: 320;
  max-height: 90%;
  background: #ececec;
  border-radius: 6px;
  padding: 2em 1.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  transform: var(--transform);
  transition: var(--transition);
  width: 320px;
  height: auto;
  color: #353535;
  box-sizing: border-box;
}

.modal__containerRes h1 {
  margin: 0 0 20px 0;
  color: #2C84A4;
  border-radius: 5px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  height: 30px;
  width: 90%;

}

.modal__containerRes label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;

}

.modal__containerRes input {
  width: 100%;
  margin-bottom: 20px;

}

.modal__containerRes input[type="text"],
.modal__containerRes input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  color: #2c2c2c;
  font-size: 16px;
  background-color: #f2f2f2;
}

.modal__containerRes button {
  padding: 10px 40px;
  border: none;
  font-size: 14px;
  background-color: #2C84A4;
  color: white;
  cursor: pointer;
  outline: none;
}

.modal__containerRes a:hover {
  color: #000000;
}

.modal__closeRes {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: black;
  transition: background-color .3s;

}

.modal__closeRes:hover {
  color: #2C84A4;
}

.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px;
}

.alertas {
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px;
}

/* BOTON Y CHAT DE PREGUNTAS. */
.preguntas {
  bottom: 35px;
  right: 25px;
  position: fixed;
  height: 50px;
  width: 50px;
  background: #2C84A4;
  color: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 2;
}

.chat--show .preguntas {
  transform: rotate(90deg);
}

.preguntas span {
  position: absolute;
}

.chat--show .preguntas span:first-child,
.preguntas span:last-child {
  opacity: 0;
}

.chat--show .preguntas span:last-child {
  opacity: 1;
}

.preguntas:hover {
  margin-bottom: 5px;
  transition: all 250ms ease;
}

.chat {
  position: fixed;
  right: 40px;
  bottom: 100px;
  width: 340px;
  overflow: hidden;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
  background: #fff;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
  z-index: 2;
}

.chat--show .chat {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.chat header {
  background: #2C84A4;
  padding: 16px 0;
  text-align: center;
  position: relative;
}

.chat header h2 {
  color: #fff;
  font-size: 1.4rem;
}

.chat header span {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  transform: translateY(-50%);

}

.chat .chatbox {
  height: 360px;
  overflow: auto;
  padding: 30px 20px 70px;
}

.chatbox .chatb {
  display: flex;
}

.chatbox .in span {
  height: 32px;
  width: 32px;
  color: #fff;
  align-self: center;
  background: #2C84A4;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  margin: 0 5px 1px 0;
}

.chatbox .out {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbox .chatb p {
  color: #fff;
  max-width: 75%;
  font-size: 0.95rem;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: #2C84A4;
}

.chatbox .in p {
  color: #000000;
  background: #f2f2f2;
  border-radius: 10px 10px 10px 0;
}

.chat .chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  background: #fff;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  height: 55px;
  max-height: 150px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
}

.chat-input span {
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  color: #2C84A4;
  font-size: 1.35rem;
  cursor: pointer;
  visibility: hidden;
}

.chat-input textarea:valid~span {
  visibility: visible;
}

/*PRESENTACION*/
.presentacion {
  background-image: url(./assets/presentacion.jpg);
  background-position: 90%;
  background-size: cover;
  background-attachment: fixed;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container_all {
  margin: 0px 85px;

}

/*
.wave {
  width: 300%;
  height: 100%;
  position: absolute;
  background-position: bottom;
  bottom: -8%;
  background-image: url(./wave.svg);
  background-repeat: no-repeat;
  animation: wone 3s linear infinite alternate;
}

@keyframes wone {
  0% {
    margin-left: 0;
  }

  100% {
    margin-right: -1600px;

  }
}
*/

/*Se debe cambiar la imagen por una mas oscura para que el texto sea facilmente legible
o en su defecto buscar una alternativa para ello puede ser con un background como se muestra
a continuacion*/
.presentacion article {
  width: 680px;
  opacity: 1;
  background-color: rgba(40, 98, 138, 0.445);
  box-shadow: 0px 0px 59px 12px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  animation: a 2s ease;
  border-radius: 15px;
}

@keyframes a {
  from {
    opacity: 0;
  }
}

.presentacion article>div {
  width: 100%;
  color: aliceblue;


}

/*Recomendable tratar la animacion escribir con JS en caso de que se valla a utlizar en varias lineas, en el caso de que se quiera 
 utilizar solo en una linea por ejemplo en "Entra, explora y informate con edutec ☺" se puede dejar solo con css sin problemas */
.presentacion article div>h2 {
  font-size: 3rem;
  -webkit-text-stroke: .1px black;
  margin-left: 5.5%;
  display: block;
  white-space: nowrap;
  border-right: 3px solid;
  width: 22.5ch;
  overflow: hidden;
  animation: escribir 2.5s steps(35), cursor .3s infinite step-end alternate;

}

@keyframes escribir {
  from {
    width: 0
  }
}

@keyframes cursor {
  50% {
    border-color: transparent
  }

}

.presentacion .texto {
  opacity: 1;
  -webkit-text-stroke: .2px black;
  transform: translateY(0px);
  animation: aparecer 2s ease;
  text-align: center;
  font-size: 1.2rem;
  overflow: hidden;
}

@keyframes aparecer {

  from {
    opacity: 0;
    transform: translateY(80px);
  }
}

/*Inicio modulo(2) Jesus*/
/*QUE ES LA TECNOLOGIA*/
.tecnologia_es {
  position: relative;
  margin: 3em 0em 1em 0em;
  background-color: #62a7db;
  border-radius: 145px 5px;
  overflow: hidden;
  height: 70vh;
  padding: 10px;
}

.tec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tec h2 {
  font-size: 42px;
  margin: 5px;
  color: #fff;
  transition: all 700ms ease;
}

.tecSvg img {
  max-width: 100%;
  height: auto;
}

.tecText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #62a7dbab;
  transition: all 300ms ease;
  padding: 2em;
  text-align: center;
  font-size: 20px;
  transition: all 500ms ease;
  color: #f5f5f5;
  
}


.tecnologia_es:hover .tecText {
  transform: translateY(-110%);
  

}

.tecnologia_es:hover h2 {
  transform: translateY(-500px);
}

.wcp {
  display: none;
}

/*Tec Responsive*/
@media screen and (max-width: 988px){
  .tecnologia_es{
      margin: 3em 0em 1em 0em;
      background-color: #62a7db;
      border-radius: 20px;
      overflow: hidden;
      padding: 10px;
      transition: all 300ms ease;
      height: 10vh;
  }
    
  .tecnologia_es:hover{
    height: auto;
    transition: all 500ms ease
  }

  .tecnologia_es h2{
    font-size: 2em;
  }
  .tecnologia_es:hover h2 {
    transform: none;
  }
  .tecSvg{
    display: none;
  }

  .tecText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #2e76b169;
    transition: all 300ms ease;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    transition: all 500ms ease;
    color: #f5f5f5;
    transform: translateY(500px);
  }
  
  .tecnologia_es:hover .tecText {
    transform: translateY(0%);
      
  }

}
/*Fin modulo 2*/

/*Incio modulo(3) Jesus*/
/*PARTES DEL COMPUTADOR*/
.computerParts {
  position: relative;
  margin: 0px 0px 25px 0px;
}

.containerCards {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));

}


.cards {
  border-radius: 5px;
  height: auto;
  color: #fff;
  background-color: #328eaf;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
  transform: translateY(0);
  transition: all 200ms ease;
  margin: 6px;
  cursor: pointer;

}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.60);
}

.cards>div {
  padding: 2px 8px 8px 5px;
  border: 2px solid transparent;
  border-radius: 0px 0px 5px 5px;

}

.cards h3 {
  font-size: 19px;
  margin: 5px 0px 0px 8px;
}

.cards p {
  font-size: 15px;
}

.cards footer {
  display: flex;
  justify-content: end;

}

.cards span {
  font-size: 15px;
  background-color: #1a6197;
  padding: 2px;
  border-radius: 5px;

}

.cards img {
  width: 100%;
  height: 125px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}


/*Tab*/
.container_tab {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444bd;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.tab::-webkit-scrollbar {
  width: 8px;

}

.tab::-webkit-scrollbar-thumb {
  background-color: rgba(168, 158, 175, 0.473);
  border-radius: 60px;


}

.tab::-webkit-scrollbar-thumb:hover {
  box-shadow: 0px 0px 5px 9px rgba(179, 178, 178, 0.5) inset;
}

.tab {
  background-color: #f5f5f5;
  width: 50%;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 300ms;
  transform: translateY(0%);
  border-radius: 5px;
  
}

.tab_close {
  transform: translateY(-200%);
}

.close {
  display: flex;
  justify-content: end;
}

.close p {
  margin: 5px 10px;
  font-size: 18px;
  color: #ee0d0d;
  transition: all 200ms ease;
  transform: scale(1);
  cursor: pointer;
}

.close p:hover {
  transform: scale(1.2);
}

.inf {
  padding: 20px;
  font-size: 15.4px;
}

.tab h4 {
  margin: 5px 20px 0px 20px;
  font-size: 25px;
}

.imgP {
  width: 100%;
  height: 100%;
}


/*Diseño para dispositivos moviles*/
/*PC*/
@media(max-width: 500px) {
  .container_all {
    margin: 0px 15px;
  }



  .cards {
    position: relative;
    height: 30vh;
    margin: 10px 0px;
    overflow: hidden;
  }

  .card-image {
    height: 100%;
    object-fit: cover;
  }

  .card-image img {
    height: 100%;
  }

  .cards h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-align: center;
  }

  .cards:hover .card-info {
    transform: translateY(-101%);
  }

  .cards:hover h3 {
    display: none;
  }

  .card-info {
    background-color: #254f6e91;
    transform: translateY(0px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
  }

  .text {
    text-align: center;

  }

  .card-info p {
    font-size: 17px;
  }

  .cards footer {
    display: none;
  }

  .news::-webkit-scrollbar {
    display: none;

  }

}

/*Fin modulo(3)*/

/*Inicio modulo(4) hender/Jesus */
/*NOTICIAS*/
.news {
  background-color: #2c2c2c07;
  border-radius: 8px;
  height: 43.5vh;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.containerCardsNews {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.news::-webkit-scrollbar {
  width: 8px;

}

.news::-webkit-scrollbar-thumb {
  background-color: rgba(168, 158, 175, 0.473);
  border-radius: 60px;


}

.news::-webkit-scrollbar-thumb:hover {
  box-shadow: 0px 0px 5px 9px rgba(179, 178, 178, 0.5) inset;
}

.cardNew {
  border-radius: 8px;
  margin: 12px 8px;
  height: auto;
  padding: 9px;
  background-color: #89bee6;
  transition: all 200ms;
  transform: scale(1);
  box-shadow: 0px 0px 27px -12px rgba(0, 0, 0, 0.75);
}

.cardNew:hover {
  transform: scale(1.015);
  box-shadow: 0px 6px 12px -3px rgba(0, 0, 0, 0.75);
}

.lineNew {
  margin-bottom: 5px;

}

.ftoNew {
  display: flex;
  justify-content: end;

}

.autor {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #7a7a7a;
  margin-bottom: 5px;
}

.pictures img {
  width: 100%;
}

.ftoNew button {
  font-size: 1em;
  border-radius: 5px;
  background-color: #b7cfe2;
  border: none;
  padding: 4px;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
  transition: all 300ms ease;
}

.ftoNew button:hover {
  background-color: #468ec5;
  color: #fff;

}

.titlenew {
  font-size: 1.5em;
  border-bottom: 1px solid #000000;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

.textnew {
  font-size: 1.2em;

}

@media(max-width: 900px) {
  .tab {
    background-color: #f5f5f5;
    width: 85%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 300ms;
    transform: translateY(0%);
    border-radius: 5px;
  }
}


@media(min-width: 1300px){

  .tecText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62a7dbab;
    transition: all 300ms ease;
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
    transition: all 500ms ease;
    color: #f5f5f5;
    
  }
  
  
  .tecnologia_es:hover .tecText {
    transform: translateY(-100%);
    
  
  }
}
@media(max-width: 600px) {

  /*NOTICIAS*/
  #tutos {
    margin-left: 4px;
    text-align: center;
  }

  #notes {
    margin-left: 40px;
  }

  #containerTabs {
    display: none;
  }

  .container_tab {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444bd;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .tab {
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 300ms;
    transform: translateY(0%);
    border-radius: 5px;
  }



  #news {
    background-color: #ffffff;
    border-radius: 8px;
    height: 49vh;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 25px;
  }

  .cardNew {
    border-radius: 8px;
    width: 20vh;
    height: auto;
    padding: 9px;
    transition: all 200ms;
    transform: scale(1);
    box-shadow: 0px 0px 27px -12px rgba(0, 0, 0, 0.75);
  }


  #containerCardsNews {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    background-color: #fff;
  }

  .cardNew h4 {
    font-size: 1.1em;
    border-bottom: 1px solid #000000;
    padding-bottom: 3px;
    margin-bottom: 3px;
  }

  .cardNew p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .textVids p {
    display: none;
  }

  #cardsVids {
    width: auto;
    background-color: #2f82a0;
    border-radius: 8px;
    box-shadow: 0px 5px 14px -3px rgba(0, 0, 0, 0.75);
    transform: translateY(0px);
    transition: all 200ms ease;
    margin: 5px 5px 12px 5px;
  }
}

/*Final modulo(4)*/

/*Incio modulo(5) Jesus*/
/*tutoriales*/
.containerTutorials {
  width: 100%;
  background-color: #2c2c2c11;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  
}

#filtre{
  position: absolute;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#clas{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 8px;
backdrop-filter: blur(3px);
color: #fff;
}


.msj{
  font-size: 2em;
  width: 80%;
  text-align: center;
  
}
.cardsVids {
  width: auto;
  background-color: #2f82a0;
  border-radius: 8px;
  box-shadow: 0px 5px 14px -3px rgba(0, 0, 0, 0.75);
  transform: translateY(0px);
  transition: all 200ms ease;
  margin: 5px 5px 12px 5px;
}

.cardsVids:hover {
  transform: translateY(-3px);
}


.textVids h3 {
  margin-bottom: 5px;
}

.textVids p {
  margin: 5px;
}

.cardsVids video {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.textVids {
  border: 1px soli red;
  padding: 5px;
}

.DateVids {
  background-color: #5e9ece;
  padding: 2.4px;
  border-radius: 5px;
}

.clf {
  background-color: #659eca;
  padding: 2.4px;
  border-radius: 5px;
  color: #000000;

}

.footerVids {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 8px 10px;
}

/*Inicio Modulo(5) Footer Jesus*/
.footer {
  background-color: #328eaf;
  position: relative;
}

.footer a {
  color: white;
}

.foot {
  display: flex;
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 80px 50px 0px 50px;
}

.wave {
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff
}

.foot h2 {
  color: #FFF;
  font-size: 100px;
  z-index: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
}

.socials {
  display: flex;
  margin: 0px 40px 0px 0px;
  align-items: center;
  font-size: 20px;
}

.socials h3 {
  margin-right: 20px;
  color: #fff;
}

.icon {
  margin: 0px 10px;
  width: 45px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: all 200ms ease;
}

.icon:hover {
  transform: rotate(-10deg);
}

.fa:hover {
  background-color: #1899f2;
}

.ig:hover {
  background-color: #D43089;
}

.lk:hover {
  background-color: #0073b1;
}

.tw:hover {
  background-color: #1DA1F2;
}

.pt:hover {

  background-color: #c8232c;
}

.go:hover {
  background-color: #db4a39;
}


.us {
  display: flex;
  width: 80;
  justify-content: center;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 22px;
  color: #fff;
}

.us a {
  border-bottom: 2px solid transparent;
}

.us a:hover {
  border-bottom: 2px solid #fff;
}

.line {
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: 22%;
}

.copy {
  background-color: #1a6197ab;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  padding-bottom: 4px;
}

/* Media queries */
@media (max-width: 1120px) {
  .footer {
    background-color: #328eaf;
    position: relative;
  }

  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 50px 0px 50px;
  }

  .wave {
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
  }

  .foot h2 {
    color: #fff;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .socials h3 {
    color: #FFF;
  }

  .icon {
    margin: 0px 10px;
    width: 40px;
    cursor: pointer;
    transition: all 200ms ease;

  }

  .icon:hover {
    transform: translateY(1px);

  }

  .us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-size: 22px;
    color: #fff;
    text-align: center;
  }

  .line {
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 22%;
  }

  .copy {
    background-color: #1a6197ab;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    padding-bottom: 4px;
  }
}

@media (min-width: 1000px){
  .cabecera-btn {
    display: none;
  }
}
@media (max-width: 999px) {
  .cabecera ul li {
    opacity: 0;
    pointer-events: none;
  }
  .btn-tog {
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: 768px) {
  .preguntas {
    opacity: 0.6;
  }
  .foot {
    padding: 40px;
  }

  .foot h2 {
    font-size: 60px;
    margin-left: 20px;
  }

  .socials {
    margin: 0;
    margin-top: 20px;
  }

  .socials h3 {
    display: none;
  }

  .icon {
    width: 30px;
  }

  .us {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .presentacion {
    background-position-y: 1950px;
    background-size: contain;
    height: 20rem;
  }
  .presentacion article{
    opacity: 0;
    pointer-events: none;
  }
  .foot h2 {
    font-size: 40px;
    margin-left: 10px;
  }

  .socials {
    margin-top: 10px;
  }

  .socials h3 {
    display: none;
  }

  .icon {
    width: 25px;
  }

  .us {
    font-size: 16px;
  }

  .chat {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .chat .chatbox {
    height: 90%;
  }

  .chat header span {
    display: block;
  }


  .msj{
    font-size: 2em;
    width: 80%;
    text-align: center;
  }

  .close p {
    margin: 20px 10px 0px 0px;
    font-size: 30px;
    color: #ee0d0d;
    transition: all 200ms ease;
    transform: scale(1);
    cursor: pointer;
  }
}

@media (max-width: 400px){
  .cardsVids {
    width: 5em;
    
  }
}

/*Fin modulo(4)*/