* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*CABECERA*/
/*62.5%*/

body {
  overflow-x: hidden;
}

.cabecera {
  background-color: #2C84A4;
  color: aliceblue;
  height: 55px;
}

.cabecera nav ul>h1 {
  font-size: 3.5rem;
}

.cabecera nav ul li {
  height: 100%;
  width: 15.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
  position: relative;
}

.cabecera nav ul li::before {
  content: ' ';
  width: 0;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all 200ms ease;
  position: absolute;
}

.cabecera nav ul li:hover::before {
  width: 100%;
  left: 0%;
}

.cabecera nav ul li:hover {
  background-color: rgb(182, 226, 255, 0.20);
  border-radius: 5px;
}

.cabecera nav ul li>a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.4em;
}

.cabecera>nav {
  height: 100%;
}

.cabecera nav>ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 0px 120px;
}

/*PRESENTACION*/
.presentacion {
  background-image: url(./assets/ImagenPrincipal.jpg);
  background-position-y: 20%;
  background-size: cover;
  background-attachment: fixed;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container_all {
  margin: 0px 85px;

}

.wave {
  width: 300%;
  height: 100%;
  position: absolute;
  background-position: bottom;
  bottom: -8%;
  background-image: url(./wave.svg);
  background-repeat: no-repeat;
  animation: wone 3s linear infinite alternate;
}

@keyframes wone {
  0% {
    margin-left: 0;
  }

  100% {
    margin-right: -1600px;

  }
}

/*Se debe cambiar la imagen por una mas oscura para que el texto sea facilmente legible
o en su defecto buscar una alternativa para ello puede ser con un background como se muestra
a continuacion*/
.presentacion article {
  width: 80%;
  opacity: 1;
  background-color: rgba(40, 98, 138, 0.445);
  box-shadow: 0px 0px 59px 12px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  animation: a 2s ease;
}

@keyframes a {
  from {
    opacity: 0;
  }
}

.presentacion article>div {
  width: 100%;
  color: aliceblue;


}

/*Recomendable tratar la animacion escribir con JS en caso de que se valla a utlizar en varias lineas, en el caso de que se quiera 
 utilizar solo en una linea por ejemplo en "Entra, explora y informate con edutec ☺" se puede dejar solo con css sin problemas */
.presentacion article div>h2 {
  font-size: 3rem;
  -webkit-text-stroke: .1px black;
  margin-left: 5.5%;
  display: block;
  white-space: nowrap;
  border-right: 3px solid;
  width: 35ch;
  overflow: hidden;
  animation: escribir 2.5s steps(35), cursor .3s infinite step-end alternate;

}

@keyframes escribir {
  from {
    width: 0
  }
}

@keyframes cursor {
  50% {
    border-color: transparent
  }

}

.presentacion .texto {
  opacity: 1;
  -webkit-text-stroke: .2px black;
  transform: translateY(0px);
  animation: aparecer 2s ease;
  text-align: center;
  font-size: 1.2rem;
}

@keyframes aparecer {

  from {
    opacity: 0;
    transform: translateY(80px);
  }
}

/*QUE ES LA TECNOLOGIA*/

.tecnologia_es {
  margin: 30px 0px;
  width: 100%;
  height: 20rem;
  position: relative;
  overflow: hidden;
}

.tecnologia_es::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-bottom: 0px solid transparent;
  border-top: 0px #9AD0EC solid;
  border-right: 0px solid transparent;
  opacity: .80;
  transition: all 400ms ease;
}

.tecnologia_es:hover::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-bottom: 0px solid transparent;
  border-top: 665px #9AD0EC solid;
  border-right: 665px solid transparent;
}

.tecnologia_es::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 0px #2C84A4 solid;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  opacity: .80;
  transition: all 400ms ease;
}

.tecnologia_es:hover::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 904px #2C84A4 solid;
  ;
  border-top: 0px solid transparent;
  border-left: 904px solid transparent;
}

.tecnologia_es picture>img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}



.tecnologia_es>h2 {
  position: absolute;
  font-size: 45px;
  color: aliceblue;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.0);
  transition: all 400ms ease;
}

.tecnologia_es:hover h2 {
  transform: translate(-130%, -50%);
  border: none;
}

.tecnologia_es>div {
  position: absolute;
  top: 0;
  width: 48%;

  top: 50%;
  left: 70%;
  transform: translate(80%, -50%);
  transition: all 400ms ease;
  color: aliceblue;
}

.tecnologia_es:hover div {
  transform: translate(-40%, -50%);
  z-index: 1;
}

.tecnologia_es p {
  border: 1px solid white;
  align-items: center;
  text-align: center;
  line-height: 1.5rem;
}

/*Inicio modulo de Jesus*/
/*PARTES DEL COMPUTADOR*/
.computerParts {
  position: relative;
  margin: 0px 0px 25px 0px;
}

.containerCards {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));

}


.cards {
  border-radius: 5px;
  height: auto;
  color: #fff;
  background-color: #328eaf;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.75);
  transform: translateY(0);
  transition: all 200ms ease;
  margin: 6px;
  cursor: pointer;

}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.60);
}

.cards>div {
  padding: 2px 8px 8px 5px;
  border: 2px solid transparent;
  border-radius: 0px 0px 5px 5px;

}

.cards h3 {
  font-size: 19px;
  margin: 5px 0px 0px 8px;
}

.cards p {
  font-size: 15px;
}

.cards footer {
  display: flex;
  justify-content: end;

}

.cards span {
  font-size: 15px;
  background-color: #1a6197;
  padding: 2px;
  border-radius: 5px;

}

.cards img {
  width: 100%;
  height: 125px;
  border-radius: 5px 5px 0px 0px;
}


/*Tab*/
.container_tab {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444bd;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tab::-webkit-scrollbar {
  width: 8px;

}

.tab::-webkit-scrollbar-thumb {
  background-color: rgba(168, 158, 175, 0.473);
  border-radius: 60px;


}

.tab::-webkit-scrollbar-thumb:hover {
  box-shadow: 0px 0px 5px 9px rgba(179, 178, 178, 0.5) inset;
}

.tab {
  background-color: #f5f5f5;
  width: 50%;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 300ms;
  transform: translateY(0%);
  border-radius: 5px;
}

.tab_close {
  transform: translateY(-200%);
}

.close {
  display: flex;
  justify-content: end;
}

.close p {
  margin: 5px 10px;
  font-size: 18px;
  color: #ee0d0d;
  transition: all 200ms ease;
  transform: scale(1);
  cursor: pointer;
}

.close p:hover {
  transform: scale(1.2);
}

.inf {
  padding: 20px;
  font-size: 15.4px;
}

.tab h4 {
  margin: 5px 20px 0px 20px;
  font-size: 25px;
}


/*Diseño para dispositivos moviles*/

@media(max-width: 400px) {
  .container_all {
    margin: 0px 15px;
  }

  .cards {
    position: relative;
    height: 30vh;
    margin: 10px 0px;
    overflow: hidden;
  }

  .card-image {

    height: 100%;
    object-fit: cover;
  }

  .card-image img {
    height: 100%;
  }

  .cards h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-align: center;
  }

  .cards:hover .card-info {
    transform: translateY(-204px);
  }

  .cards:hover h3 {
    display: none;
  }

  .card-info {
    background-color: #296a9b6b;
    transform: translateY(0px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
  }

  .text {
    text-align: center;

  }

  .card-info p {
    font-size: 17px;
  }

  .cards footer {
    display: none;
  }



  /*Fin modulo de Jesus*/
  /*NOTICIAS*/
  a {
    text-decoration: none;
    color: #d2d4f7;
  }

  .cajonN {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cardN {
    background-color: #1a4362;
    border-radius: 10px;
    width: 450px;
    margin: 20px;
    color: white;
    box-shadow: 1px 1px 10px rgb(59, 59, 232);
  }

  .cardN div {
    padding: 5px 10px;
  }

  .cardN div h4 {
    padding: 10px;
    font-size: 20px;
  }

  .fecha p {
    height: 35px;
  }

  .fecha {
    display: flex;
    justify-content: space-between;
  }

  .fecha p {
    background-color: #2c84a4;
    padding: 7px;
    border-radius: 10px;
    color: #d2d4f7;
  }

  .lmas {
    background-color: #2c84a4;
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.5s;
  }

  .lmas:hover {
    padding: 10px;
    box-shadow: 1px 1px 10px rgb(59, 59, 232);
  }

  .cajonN div {
    border: 1px solid yellow;
  }

}

/*TUTORIALES BASICOS*/

.partesComputador {
  border: 1px rgb(67, 41, 92) solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0px 0px 25px 0px;
}

.partesComputador>div {

  border: 1px solid purple;
  height: auto;

}

.partesComputador div picture>img {
  width: 100%;
}

/*tutoriales*/
.cajonT {
  border: 1px solid purple;
}

.cajonT section {
  margin: 20px;
  border: 1px solid blue;
}

.cajonT {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cardT {
  background-color: #1a4362;
  color: white;
  border-radius: 10px;
  width: 250px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgb(59, 59, 232);
  padding: 0;
}

.cardT video {
  width: 100%;
  height: auto;
}

.cardT h4 {
  padding: 10px 20px;
  font-size: 20px;
}

.cardT p {
  padding: 10px;
  color: #d2d4f7;
}

.contF {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.fecha {
  display: flex;
  justify-content: space-between;
}

.fecha p {
  background-color: #3f4446;
  padding: 7px;
  border-radius: 10px;
  color: #d2d4f7;
  height: 30px;
  margin: 10px;
}

.verM {
  background-color: #2c84a4;
  padding: 7px;
  border-radius: 10px;
  margin: 10px;
  transition: 0.5s;
}

.verM:hover {
  background-color: #2c84a4;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 1px 1px 10px rgb(59, 59, 232);
}

.verM a {
  text-decoration: none;
  color: #d2d4f7;
}

/*media query*/

@media(max-width:420px) {
  .cajonN {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .cardN {
    background-color: #1a4362;
    border-radius: 10px;
    width: 90%;
    margin: 20px;
    color: white;
    box-shadow: 1px 1px 10px rgb(59, 59, 232);
  }

  .cajonT {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .cardT {
    background-color: #1a4362;
    color: white;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 1px 1px 10px rgb(59, 59, 232);
  }
}